<h1>Monthly Licenses</h1>

<% @licenses.each do |license| %>
<h4>ID: <%= license.id %></h4>
<ul>
  <li>Incoming Payload: <%= license.data %></li>
  <br>
  <li>Outgoing Hash: <%= license.license_key %></li>
</ul>
<br><br>
<% end %>